.node {
  width: auto;
  height: auto;
  margin: 2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal; 
  -webkit-flex-direction: row; 
  -ms-flex-direction: row; 
  flex-direction: row;
  justify-content: flex-start;

  .node-content {
    width: auto;
    height: auto;
    max-width: 80%;
    margin-left: 1rem;

    .title {
      font-size: 1.5rem;
    }
    
    .date { 
      color: #6A6A6A;
      font-weight: 400;
      font-size: 1rem;
    }

    .link {
      color: #9f9f9f;
    }
  }

  &:last-child {
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 640px) {

  .node {
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
    justify-content: center;

    .node-content {
      margin: auto;
      text-align: center;

      .title {
        font-size: 1.2rem;
      }
    
      .date {
        font-size: 1rem;
      }
    }
  }
}
