.node {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .node-content {
    max-width: 70%;
    margin-left: 1rem;

    .title {
      font-size: 1.5rem;
    }
    
    .date { 
      color: #6A6A6A;
      font-weight: 400;
      font-size: 1rem;
    }

    .link {
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 640px) {

  .node {
    flex-direction: column;
    justify-content: center;

    .node-content {
      margin: auto;
      text-align: center;

      .title {
        font-size: 1.2rem;
      }
    
      .date {
        font-size: 1rem;
      }
    }
  }
}
