.node {
    width: 80%;
    height: 50%;
    margin: 3rem auto;
}

.node-content {
    margin-left: 10em;
}

.title {
    font-size: 1.7rem;
}

.date {
   color: grey;
   font-weight: 400;
   font-size: 1.2rem;
}
