.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  .about-me-image {
    margin: 1rem;
    max-width: 35%;
    max-height: 60vh;
  }

  .about-me-text {
    margin: 1rem;
    width: 40%;

    a {
      color: #727272
    }
  }
}



@media only screen and (max-width: 640px) {
  .about {
    flex-direction: column;

    .about-me-image {
      max-width: 60%;
    }
  
    .about-me-text {
      margin: 1rem;
      width: 90%;
      text-align: justify;

      .about-me-title {
        text-align: center;
      }
    }
  }
}
