.circle {
  height: 7em;
  width: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  border-radius: 50%;
}

.circle.Education {
    background-color: lightgreen;
}

.circle.Work {
    background-color: lightblue;
}

svg {
    width: 70%;
    height: 70%;
}