.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  
  .contact-row {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;

    .contact-icon {
      height: 30px;
      width: 30px;
    }
  }
}