
  
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  .contact-column {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;

    .contact-item {
      display: flex;

      .contact-icon {
        height: 30px;
        width: 30px;
      }
  
      a {
        color: #3b1414
      }
    }
  }
}
    


@media only screen and (max-width: 640px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .contact-column {
      width: 220px;
      margin: 0;
    }
  }
}
