.nav-bar {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-item {
    margin: 0 1rem;
    color: #FFFFFF;
    text-decoration: none;

    &.active {
        font-weight: 600;
    }
}