.burger-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  right: 1.3rem;
  width: 36px;
  height: 30px;
  top: 18px;

  #react-burger-menu-btn {
    &:focus {
      outline: 2px solid -webkit-focus-ring-color;
      background: transparent;
    }
    
    &:focus:not(:focus-visible) {
      outline: none;
      background: transparent;
    }
    
    &:focus-visible {
      outline: 2px solid -webkit-focus-ring-color;
      background: transparent;
    }
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FFFFFF;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #282C35;
  padding: 2.5em 1.5em 0;
  font-size: 1.25em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  margin: 1rem;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &.active {
    font-weight: 800;
  }

  &:focus {
    outline: 2px solid -webkit-focus-ring-color;
    background: transparent;
  }
  
  &:focus:not(:focus-visible) {
    outline: none;
    background: transparent;
  }
  
  &:focus-visible {
    outline: 2px solid -webkit-focus-ring-color;
    background: transparent;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



@media only screen and (max-width: 640px) {
  .bm-overlay {
    display: block;
  }
}