.timeline {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-orient: horizontal; 
  -webkit-box-direction: normal; 
  -webkit-flex-direction: column; 
  -ms-flex-direction: column; 
  flex-direction: column;

  .timeline-nodes {
    padding: 0.3rem;

    &:focus {
      /* Provide a fallback style for browsers
         that don't support :focus-visible */
      outline: none;
      background: transparent;
    }
    
    &:focus-visible {
      /* Draw a very noticeable focus style for
         keyboard-focus on browsers that do support
         :focus-visible */
      outline: 2px solid -webkit-focus-ring-color;
      background: transparent;
    }
  }
}


@media only screen and (max-width: 640px) {
  .timeline {
    width: 100%;
  }
}

